<div
  [ngStyle]="{
      height: elHeight() + 'px',
      width: elWidth() + 'px'
    }"
  class="filmstrip-container"
  [ngClass]="{ 'compact-margins': compactView() }"
  >

  <div
    #filmstripHolder
    class="video-box"
    (touchmove)="handleTouchMove($event)"
    (touchstart)="handleTouchStart()"
    (touchend)="handleTouchEnd()"

    (click)="handleClick($event)"

    [ngStyle]="{
        height: imgHeight() + 'px'
      }"
    >
      <img
        [ngStyle]="{ height: imgHeight() + 'px',
                     transform: 'translate(' + (-percentOffset) + '%, 0)' }"
        src="{{ hover ? fullFilePath : firstFilePath }}"
      >
    @if (!connected()) {
      <span class="not-connected"></span>
    }
  </div>

  @if (!compactView()) {
    <span
      class="title"
      [ngClass]="{ 'larger-font': largerFont() }"
      [ngStyle]="{ color: darkMode() ? '#BBBBBB' : '#000000' }"
      >
      {{ video().cleanName }}
    </span>
  }

</div>
