<div class="buttons">

  <button [disabled]="currentImgsPerRow === 1" (click)="zoomIn()">+</button>

  <button (click)="zoomOut()">-</button>

  <input
    [(ngModel)]="searchString"
    class="search-input"
    placeholder="search"
  >
  <button (click)="searchString = ''">x</button>


  <button
    (click)="getLatestData()"
    class="btn-refresh"
    [disabled]="!socketConnected"
  >
    #
  </button>

</div>

<div class="whole">

  <virtual-scroller
    #scroll
    id="scrollDiv"
    [items]="items | searchPipe : searchString"
  >
    <app-thumbnail
      *ngFor="let item of scroll.viewPortItems"

      (videoClick)="handleClick($event)"

      [video]="item"

      [connected]="true"

      [elHeight]="previewHeight + 20"
      [elWidth]="previewWidth"

      [imgHeight]="previewHeight"

      [folderPath]="'lol'"
      [hubName]="'hi'"

      [hoverScrub]="true"
      [showMeta]="true"

      [compactView]="false"
      [darkMode]="false"
      [largerFont]="false"
      [returnToFirstScreenshot]="false"
      [thumbAutoAdvance]="false"

      style="display: inline-block"
      [ngStyle]="{
          height: previewHeight + 40 + 'px',
          width: previewWidth + 40 + 'px'
        }"
    ></app-thumbnail>

  </virtual-scroller>

</div>
