.buttons {
  background-color: #aaaaaa;
  border-bottom: 1px solid #777777;
  box-sizing: border-box;
  height: 30px;
  width: 100vw;
}

.whole {
  height: calc(100vh - 30px);
  width: 100vw;
}

virtual-scroller {
  background-color: #eeeeee;
  height: 100%;
}

.search-input {
  border-radius: 5px;
  border: 1px solid #555555;
  margin: 3px 5px 0 30px;
  outline: none;
  padding: 3px;
  width: 100px;
}

button {
  border-radius: 5px;
  border: 1px solid #555555;
  margin: 0 5px;
  outline: none;
  padding: 2px 0;
  text-align: center;
  width: 21px;
}

.btn-refresh {
  position: absolute;
  right: 4px;
  top: 4px;
}

button:disabled {
  border: 1px solid #888888;
}
