$menu-height: 50px;
$settings-height: 300px; // also update `settingsAnimation`

.buttons-menu {
  background-color: #f9f9f9;
  border-top: 1px solid #bbbbbb;
  box-sizing: border-box;
  display: flex;
  height: $menu-height;
  justify-content: space-between;
  padding-top: 3px;
  position: relative;
  width: 100vw;
  z-index: 10;
}

.buttons-menu-dark-mode {
  background: #333333;
  border-top: 1px solid #555555;

  svg {
    stroke: white;
  }
}

.dark-mode {
  background-color: #000000;
}

.scroll-region {
  height: calc(100vh - #{$menu-height});
  width: 100vw;
}

virtual-scroller {
  background-color: #eeeeee;
  height: 100%;
  overflow-y: scroll !important;

  // FUCK mobile safari - hiding scroll bars all the time
  // and not showing them even when you request it
  // and then not allowing users to use them to scroll
  // even when they finally appear
  // FUCK YOU APPLE

  &::-webkit-scrollbar {
    -webkit-appearance: none;
    -webkit-overflow-scrolling: auto;
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #888888;
  }
}

button {
  background-color: transparent;
  border-radius: 5px;
  border: 0;
  font-size: 20px;
  margin: 0 20px;
  outline: none;
  padding: 2px 0;
  text-align: center;
  width: 40px;
}

app-thumbnail {
  display: inline-block;
}

.bottom-of-scroller-spacer {
  height: 160px;
}

.search-region {
  background: #f9f9f9;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 1px solid #aaaaaa;
  bottom: 49px;
  height: 50px;
  left: calc(50vw - 100px); // `.search-region` is 200px - so we want half
  position: fixed;
  width: 200px;

  .search-input {
    border-radius: 5px;
    border: 1px solid #555555;
    font-size: 16px;
    margin: 10px;
    outline: none;
    padding: 5px;
    width: 128px;
  }

  button {
    margin: 0;
    transform: translate(-5px, 7px);
  }
}

.search-region-dark-mode {
  background: #333333;
  border: 1px solid #555555;

  .search-input {
    background-color: black;
    color: white;
  }
}

.settings-menu {
  background-color: #eeeeee;
  border-top: 1px solid #bbbbbb;
  bottom: $menu-height;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
  height: $settings-height;
  left: 0;
  padding: 20px;
  position: fixed;
  width: 100vw;
  z-index: 5;

  div {
    margin: 0 0 20px;
  }

  h1 {
    color: #555555;
    font-size: 24px;
    margin-bottom: 30px;
    margin-top: 10px;
    text-align: center;
  }

  button {
    vertical-align: middle;
  }

  .toggled {
    svg {
      stroke: #729aff
    }
  }
}

.settings-menu-dark-mode {
  background-color: #222222;
  border-top: 1px solid #333333;

  h1 {
    color: #aaaaaa;
  }

  svg {
    stroke: #aaaaaa;
  }

  span {
    color: #cccccc;
  }
}

.settings-svg {
  svg {
    transition-duration: 300ms;
    transition-property: transform;
  }
}

.animate-settings-button {
  svg {
    transform: rotate(90deg);
  }
}

.reload-page {
  svg {
    stroke: #ff6666;
  }
}

.connection-error-modal {
  background: #f9f9f9;
  border-radius: 10px;
  border: 1px solid #bbbbbb;
  bottom: 60px;
  font-family: sans-serif;
  line-height: 26px;
  padding: 20px 30px;
  position: fixed;
  right: 10px;
  text-align: center;
  z-index: 15;

  span {
    color: #ff6666;
  }
}
